<!--
<img src="chemin/vers/image.png" (click)="onClickImage()">
<div *ngIf="triangleCache" style="border-top: 50px solid transparent;
 border-bottom: 50px solid transparent; border-right: 100px solid red;">

</div>
-->

<!--<svg (click)="onClickImage()" viewBox="0 0 100 100">
  <image *ngIf="imageEstNoir" src="../assets/" width="20" height="20"></image>
  <image *ngIf="imageEstNoir" src="../assets/imgnoir.jpg" width="20" height="20"></image>

  <polygon *ngIf="!imageEstNoir" points="0,20 20,20 20,0" fill="red"></polygon>
</svg>-->





<!--<div class="formes">
  <div *ngFor="let forme of formesGeometriques" (click)="selectionnerForme(forme)"
       [ngClass]="{'visible': forme.visible, 'trouvee': forme.trouvee}" [innerHTML]="forme.svg">
  </div>
</div>-->
